html {
	border: 15px groove;
}

h1 {
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

h2 {
	font-weight: bold;
	text-align: left;
}

p {
	font-size: 20px;
	font: Verdana;
	text-align: left;
}

h3 {
	font-weight: bold;
}

.center {
	display: block;
	margin-right: auto;
	margin-left: auto;
}